# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.log
.coverage
.pytest_cache/
venv/
ENV/
env/

# C
*.o
*.exe
*.out
a.out
*.dSYM/
.ccls-cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Replit
.replit
.config/
.cache/
.upm/
replit.nix
